.btn-register {
    width: 138px;
    background: #c44569 !important;
    border: 1px solid #c44569 !important;
}


.btn-register:hover{
    background: grey !important;
    border: 1px solid #1fc6d8 !important;
}

.btn-login {
    width: 138px;
    background: #c44569!important;
    border: 1px solid #c44569 !important;
}
.btn-login:hover{
    background: #3683a1 !important;
    border: 1px solid #1fc6d8 !important;
}